* {
    margin: 0;
    padding: 0;
    /* border: 0; */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    width: 100%;
    border: .1px solid #ddd;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card h3 {
    text-align: center;
    font-family: 'Roboto';
    margin-bottom: 3rem;
    font-size: 1.6rem;
}

input {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding-left: 3rem;
    height: 3rem;
    font-size: .8rem;
}

input[name='user'] {
    background: url('../images/user.png') no-repeat scroll 7px 7px;
}

input[name='passwd'] {
    background: url('../images/padlock.png') no-repeat scroll .2rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.btn {
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-green {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-gray {
    margin-top: 1rem;
    background-color: #343a40;
    border-color: #343a40;
    font-size: .7rem;
    font-weight: bold
}